<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description"
          content="ActionBarSherlock is an extension of the compatibility library designed to facilitate the use of the action bar design pattern across all versions of Android leveraging the best API available."/>

    <title>ActionBarSherlock - {{page.title}}</title>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="static/ie.css" type="text/css" media="screen"/><![endif]-->
    <link rel="stylesheet" href="static/1120.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="static/styles.css" type="text/css" media="screen"/>

    <script type="text/javascript" src="static/css3-mediaqueries.js"></script>
    <!-- http://code.google.com/p/css3-mediaqueries-js/ -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="static/showdown.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="whole">
            <p id="header" class="small"><a class="img" href="index.html"><img src="static/logo_small.png" alt="Home"/></a>
            </p>
        </div>
        <div class="whole" id="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="download.html">Download</a></li>
                <li><a href="usage.html">Usage</a></li>
                <li><a href="theming.html">Theming</a></li>
                <li><a href="samples.html">Samples</a></li>
                <li><a href="faq.html">F.A.Q.</a></li>
                <li><a href="support.html">Support</a></li>
                <li><a href="development.html">Development</a></li>
                <li><a href="merch-and-donations.html">Merchandise / Donations</a></li>
            </ul>
        </div>
    </div>

    {{content}}

    <div class="row" id="footer">
        <div class="half">
            <p>&copy; 2012 Jake Wharton
                <small>( <a href="http://twitter.com/JakeWharton">@</a> / <a
                        href="http://profiles.google.com/jakewharton">+</a> )
                </small>
            </p>
        </div>
        <div class="half last social">
            <g:plusone size="medium" href="http://actionbarsherlock.com"></g:plusone>
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://actionbarsherlock.com"
               data-text="ActionBarSherlock - Action bar design pattern for all versions of Android."
               data-count="horizontal" data-via="JakeWharton">Tweet</a>
            <iframe src="http://www.facebook.com/plugins/like.php?app_id=186126341440594&amp;href=http%3A%2F%2Factionbarsherlock.com&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21"
                    scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;"
                    allowTransparency="true"></iframe>
            <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;"
               href="http://actionbarsherlock.com"></a>
            <noscript><a href="http://flattr.com/thing/320252/ActionBarSherlock" target="_blank"><img
                    src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this"
                    border="0"/></a></noscript>
            <a id="github" href="https://github.com/JakeWharton/ActionBarSherlock"><img
                    style="position: absolute; top: 0; right: 0; border: 0;" src="static/ribbon.png"
                    alt="Fork me on GitHub"></a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var _gauges = _gauges || [];
    (function () {
        var t = document.createElement('script');
        t.type = 'text/javascript';
        t.async = true;
        t.id = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f455953f5a1f51c10000075');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
    })();

    (function () {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();

    (function () {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://apis.google.com/js/plusone.js';
        t.parentNode.insertBefore(s, t);
    })();

    (function () {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://platform.twitter.com/widgets.js';
        t.parentNode.insertBefore(s, t);
    })();
</script>
</body>
</html>
