<!--
  ~ Copyright (C) 2012. Rayman Zhang <raymanzhang@gmail.com>
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, version 3 of the License.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<div name="__mdx_block_dict_title" onclick="ToggleShow('div_$dict_id$_$entry_no$', 'arrow_$dict_id$_$entry_no$')" id="ctrl_div_$dict_id$_$entry_no$"
    class="__mdx_block_title">
    <TABLE width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td style="height:2em;width:2em"><img src="content://mdict.cn/res/book.png"/></td>
            <td width="*" style="font-weight: bold;font-size: 1em">$title$</td>
            <!-- <td align="right"><img id="arrow_$dict_id$_$entry_no$" name="__mdx_arrow_img" src="content://mdict.cn/res/arrow_up.png"/> -->
            </td>
        </tr>
        </tbody>
    </TABLE>
</div>
<div id="div_$dict_id$_$entry_no$" name="__mdx_block_div" class="__mdx_dict_block_collapse" >