<!--
  ~ Copyright (C) 2012. Rayman Zhang <raymanzhang@gmail.com>
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, version 3 of the License.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<div style="border-radius:4px; margin:0px 0px 12px 0px; padding 2px;">

<div onclick="ToggleShow(this, 'if_$dict_id$_$entry_no$', 'arrow_$dict_id$_$entry_no$')" id="ctrl_div_$dict_id$_$entry_no$"
        style="background: #E0E0E0;padding:0.25em"> <span style="font-size: 1em;vertical-align:middle;">$headword$ - $title$ </span></div>
    <!--
    <TABLE width="100%" border="0" cellspacing="0" cellpadding="0" align="left" class="__mdx_block_title">
        <tbody>
        <tr height="24">
            <td width="24"><img src="content://mdict.cn/res/book.png" width="24" height="24"/></td>
            <td width="*"><span class="no_touchword"> $headword$ - $title$ </span></td>
            <td align="right"><img id="arrow_$dict_id$_$entry_no$" name="__mdx_arrow_img" src="content://mdict.cn/res/arrow_up.png"/>
            </td>
        </tr>
        </tbody>
    </TABLE>
    <hr size="0" noshade color="#909090" />
<div id="div_$dict_id$_$entry_no$" name="__mdx_block_div" class="__mdx_dict_block_collapse">
    -->
    <iframe width="100%" name="__mdx_block_div" id="if_$dict_id$_$entry_no$" class="__mdx_dict_block_collapse" src1="content://mdx.mdict.cn/_$dict_id$/$entry_no$/"
            frameborder="0" onload="javascript:iframe_mode=1;"></iframe><!-- onload="javascript:SetupIFrameEventListener('if_$dict_id$_$entry_no$');" -->


</div>
