<!--
/*
 * Copyright (C) 2012. Rayman Zhang <raymanzhang@gmail.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 3 of the License.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

<STYLE TYPE="text/css">
@font-face {
    font-family: 'SimSun';
    font-style: normal;
    font-weight: normal;
    src: url('content://mdict.cn/localfile/fonts/SimSun.ttf');
}

* {
    font-family: 'SimSun', serif
}

body {
    background-color: #CCE8CC !important;
}

</STYLE>
-->
