<!--
  ~ Copyright (C) 2012. Rayman Zhang <raymanzhang@gmail.com>
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, version 3 of the License.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!--
<table align="center">
  <tr >
    <td><span class="__mdx_btn" onclick="ShowAllBlock(true, false, '');">$btn_epxand_all$</span></td>
    <td><span class="__mdx_btn" onclick="ShowAllBlock(false, false, '');">$btn_collapse_all$</span></td>
  </tr>
</table>
<hr noshade size="1">
<div style="display:none">
<img src="content://mdict.cn/res/arrow_up.png"></img>
<img src="content://mdict.cn/res/arrow_down.png"></img>
</div>
-->

